* {
  font-family: "Life Savers", cursive;
}

h2 {
  margin: 30px 10rem;
  font-size: 3rem;
}

button {
  display: inline-block;
  margin: 30px;
  height: 60px;
  width: 60px;
  font-size: 2rem;
}

button:first-child {
  margin-left: 10rem;
}

.cmd {
  width: fit-content;
}

.cmd:last-child {
  margin: 0;
}

span {
  display: inline-block;
  font-size: 4rem;
}

.history {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease-out;
  transform: translateX(100%);
}

.history {
    transform: translateX(0);
}

.history table {
  padding-top: 5px;
  width: 100%;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background-color: #ccc;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.history-header button {
  width:fit-content;
  height: fit-content;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

th:last-child {
  text-align: center;
  padding-right: 5px;
}

td {
  text-align: center;
}

td input[type="text"] {
    width: 100%;
    padding: 2px;
    border: none;
    border-radius: 2px;
    background-color: #f0f0f0;  
    cursor: auto;
}
