* {
  box-sizing: content-box;
}

body {

    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    background-color: white;
}

a {
  color: white;
}

header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); /* mi serve solo come riscontro ELIMINARE */
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .logo {
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.menu {
  clear: both;
  display: inline-block;
  padding: 0 5px 0 0;
  margin: 0 0 0 -500px;
  position: fixed;
  list-style: none;
  overflow: hidden;
  background-color: black;
  /* height */
  z-index: 999999999;
  width: 250px;

  /* margin left: -255px;
     transition: margin-left .2s ease-out; /*confronto con altri effetti */
}

.menu .xmark {
  display: inline;
  float: right;
}

.menu li a {
  clear: both;
  display: block; /*così non c'è bisogno di centrare esattamente la scritta*/
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.menu li a:hover {
  color: grey;
}

.menu-icon {
  padding: 20px;
  position: relative;
  float: right;
  cursor: pointer; /* per finestra desktop ridimensionata */
}

.menu-icon .nav-icon {
  background-color: black;
}

.menu-icon .nav-icon:hover {
  background-color: orangered;
}

/*** SECTION ***/

.layout .layout-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.layout .card-layout {
  padding: 30px;
  display: block;
  color: white;
}

.layout .layout-row #one {
  background-color: #111111;
}

.layout .layout-row #two {
  background-color: #858e99;
}

.layout .layout-row #three {
  background-color: #478ac9;
}

.layout .layout-row #four {
  background-color: #77aad9;
}

.card-layout .circle-icon {
margin-top: 30px;
margin-bottom: 0;
height: 64px;
width: 64px;
text-align:left;
flex-shrink: 0;
display: block;
}


/* non è finito, lo tengo come riferimento finché non inserisco l'immagine 
.card-layout .circle-icon {
    
    display: block;
    background-color: black;
    width: 18px;
    height: 2px;
    position: relative;
    transform: rotate(45deg);
}

.card-layout .circle-icon::after {
    content:"";
    display: block;
    background-color: black;
    width: 18px;
    height: 2px;    
    transform: rotate(-90deg);
    transform: translate(6,6);

} 
ANGLE **********/

/*** ALTERNATIVA ALL'IMMAGINE, uno span in html
  header .menu-icon .nav-icon {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

header .menu-icon .nav-icon::before {
  background-color: grey;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 2s ease-out;
  position: absolute;
  top: 5px;
}

header .menu-icon .nav-icon::after {
  background-color: grey;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 2s ease-out;
  position: absolute;
  top: -5px;
}

FINE ALTERNATIVA ***/

/*** ***/
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu-icon > .nav-icon {
  background-color: orangered; /* resta arancione fino al click successivo */
}

header .menu-btn:checked ~ .menu {
  /* margin-left: 0; /* altro metodo */
  transform: translateX(357px);
  transition-duration: 1s;
}

/*NO, torna indietro!
header .menu-btn:checked ~ .menu {
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes slidein {
  from {margin-left: -255px;}
  to {margin-left: 0;}
}

/*** posso fare la x a partire dal uno span, come per l'hamburger
comunque non aggiungerò altre immagini qui***/
/*** se avessi lasciato .menu nell'header:
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent; /* non voglio perdere le proprietà */

/*}*/
/*.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
}*/

section img {
  z-index: -200;
  max-width: 100%;
}



footer {
color: white;
background-color: black;
}

footer div {
  text-align: center;
}

footer p  {
    width: 417px;
    padding:0;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
}

.backlink {
  text-align: center;
  padding: 1em;
}
.backlink a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

@media (max-width: 575px) {
  .layout
}