* {
  box-sizing: content-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  background-color: white;
}

header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); /* mi serve solo come riscontro ELIMINARE */
  /*position: fixed;*/
  width: 100%;
  z-index: 1;
  color: #111111;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}


header .logo {
  /*float: left;*/
  padding: 10px 20px;
}

@media (min-width: 1199px) {
  header .nav-container {
    max-width: 1140px;
    height: 80px;
  }
}


/*** SECTION ***/

section img {
  z-index: -200;
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.layout {
  margin-top: -65px;
}

.layout .layout-wrap {
  display: flex;
  justify-content: center;
}

.layout .layout-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.layout .card-layout {
  padding: 30px;
  display: block;
  color: white;
  
}

.layout .layout-row #one {
  background-color: #111111;
}

.layout .layout-row #two {
  background-color: #858e99;
}

.layout .layout-row #three {
  background-color: #478ac9;
}

.layout .layout-row #four {
  background-color: #77aad9;
}

.card-layout .circle-icon {
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
  width: 64px;
  text-align: left;
  flex-shrink: 0;
  display: block;
}

.credits {
  text-align: center;
}

footer {
  color: white;
  background-color: #111111;
}

footer div {
  text-align: center;
  padding: 50px;
}

footer p {
  width: 417px;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
}

/*** BACKLINK SECTION ***/

.backlink {
  text-align: center;
  padding: 1em;
  margin: 0;
  background-color: #111111;
}

.backlink > * {
  display: inline-block;
}

.backlink p {
  margin: 0 5px;
  color: white;
}

@media (min-width: 1199px) {
  .nav-icon,
  .menu,
  .menu-btn,
  .menu-icon {
    display: none;
  }
  .navbar li {
    clear: both;
    display: inline-block;
    text-decoration: none;
  }

  .navbar li .page {
    color: grey;
    text-decoration: none;
  }

  .navbar .page:active {
    color: #478ac9;
  }
  .menu .xmark {
    display: none;
  }
  .layout-wrap {
    width: 940px;
    margin-top: -60px;
  }
}

@media (max-width: 575px) {
  .menu {
    clear: both;
    display: inline-block;
    padding: 0 5px 0 0;
    margin: 0 0 0 -500px;
    position: fixed;
    list-style: none;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    z-index: 999999999;
    width: 250px;

    /* margin left: -255px;
       transition: margin-left .2s ease-out; /*confronto con altri effetti */
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    width: 340px;
    margin: 0 auto;
  }

  .navbar {
    display: none;
  }

  .logo {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

  .menu-icon {
    padding: 20px;
    position: relative;
    float: right;
    cursor: pointer; /* per finestra desktop ridimensionata */
  }

  .menu-icon .nav-icon {
    background-color: black;
  }

  .menu-icon .nav-icon:hover {
    background-color: orangered;
  }

  header .menu-btn {
    display: none;
  }

  header .menu-btn:checked ~ .menu-icon > .nav-icon {
    background-color: orangered; /* resta arancione fino al click successivo */
  }

  header .menu-btn:checked ~ .menu {
    /* margin-left: 0; /* altro metodo */
    transform: translateX(357px);
    transition-duration: 2s;
  }
  /* Non sto usando javascript;
   /* un'idea per non far ritirare bruscamente il menu,
   /* ma pessimo effetto al refresh: */
  /*
  header .menu-btn:not(:checked) ~ .menu {
    transform: translateX(-357px);
    transition-duration: 2s;
  } */

  .menu .xmark {
    display: inline;
    float: right;
  }

  .menu li a {
    clear: both;
    display: block; /*così non c'è bisogno di centrare esattamente la scritta*/
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
  }

  .menu li a:hover {
    color: grey;
  }

  section .background {
    height: 370px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .layout-row {
  
  }
  footer {
  }
}

/* non è finito, lo tengo come riferimento finché non inserisco l'immagine 
.card-layout .circle-icon {
    
    display: block;
    background-color: black;
    width: 18px;
    height: 2px;
    position: relative;
    transform: rotate(45deg);
}

.card-layout .circle-icon::after {
    content:"";
    display: block;
    background-color: black;
    width: 18px;
    height: 2px;    
    transform: rotate(-90deg);
    transform: translate(6,6);

} 
ANGLE **********/

/*** ALTERNATIVA ALL'IMMAGINE, uno span in html
  header .menu-icon .nav-icon {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

header .menu-icon .nav-icon::before {
  background-color: grey;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 2s ease-out;
  position: absolute;
  top: 5px;
}

header .menu-icon .nav-icon::after {
  background-color: grey;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 2s ease-out;
  position: absolute;
  top: -5px;
}

FINE ALTERNATIVA ***/

/*** ***/

/*NO, torna indietro!
header .menu-btn:checked ~ .menu {
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes slidein {
  from {margin-left: -255px;}
  to {margin-left: 0;}
}

/*** posso fare la x a partire dal uno span, come per l'hamburger
comunque non aggiungerò altre immagini qui***/
/*** se avessi lasciato .menu nell'header:
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent; /* non voglio perdere le proprietà */

/*}*/
/*.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
}*/
